/*=====================================================================================*/
/* HOME SCREEN
/*=====================================================================================*/

div#site {
    font-family: 'Office Code Pro D';
}


/*=====================================================================================*/
/* NOTEBOOK APP
/*=====================================================================================*/

#ipython_notebook img {
  /*opacity: 0.25;*/
}

/*.container {
  width: 60%;
}*/

body.notebook_app {
  background-color: white;
  font-family: 'Office Code Pro D';

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

span#notebook_name {
    font-family: menu, -apple-system, BlinkMacSystemFont, 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.2px;
}

div#pager-container pre {
    font-family: 'Office Code Pro D';
    font-size: 12px;
    background-color: #FBFBFB;
}

/*=====================================================================================*/
/* MARKDOWN
/*=====================================================================================*/

.rendered_html code {
    padding: 0 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.3em;
    margin: 0;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    /*border: 1px solid #ddd !important;*/
}


/*=====================================================================================*/
/* NOTEBOOK
/*=====================================================================================*/

/*div#header-container {
    width: 60%;
}

div#menubar-container {
    width: 60%;
}*/

div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Office Code Pro D', monospace !important;
  font-size: 12px;
}

div#notebook-container {
  box-shadow: none;
}

div.input_area {
  border-radius: 0px;
  background: #FBFBFB;
}

.inner_cell {
  overflow: scroll;
}

/*.cell.code_cell.rendered, .cell.text_cell.unrendered {
    padding-right: 20px;
}*/

.output_subarea.output_html.rendered_html.output_result {
    margin: 0.2em 0;
}

/* HIGHLIGHT ACTIVE CELLS*/
.cell.code_cell.running {
    background-color: white;
    border: 1px solid #39e600;
    border-left: 10px solid #39e600;
}

div.cell.selected {
    border-radius: 0px;
    border-color: #D4D4D4;
    -webkit-box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.75);
}

/*.edit_mode div.cell.selected {
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 11px -5px rgba(0,0,0,0.75);
}*/

.edit_mode div.cell.selected {
    border-color: #6FBCFF;
}

option.introspection {
  /*font-family: 'Source Code Pro';*/
  font-family: 'Office Code Pro D';
  font-size: 12px;
}

/*--------- Code Mirror related ---------*/

.cm-s-ipython span.cm-comment {
    color: #000000;
    font-style: italic;
    opacity: 0.3;
}

/*.CodeMirror-sizer {
    width: 100px !important;
    min-width: 0 !important;
}*/

/*--------- Text Cells ---------*/

.cell.text_cell pre {
    font-family: menu, -apple-system, BlinkMacSystemFont, 'Open Sans';
    /*font-family: 'Open Sans' !important;*/
    letter-spacing: 0.1px;
    font-size: 1.15em;
    line-height: 1.5;
}

/* MARKDOWN CODE */
.cm-s-default .cm-comment {
  font-family: 'Office Code Pro D';
  /*color: #a50;*/
  color: #53a7ff;
  font-weight: 500;
  background-color: rgba(0,0,0,0.05);
  border-radius: 3px;
  padding: 0 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.cell.text_cell p {
  /*font-size: 14px;*/
  font-size: 1.15em;
}

.cell.text_cell h1,
.cm-header-1 {
    padding-bottom: .3em;
    font-size: 2.75em;
    line-height: 1.2;
    /*border-bottom: 1px solid #eee;*/
}
.cell.text_cell h2,
.cm-header-2 {
   padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.225;
    /*border-bottom: 1px solid #eee;*/
}
.cell.text_cell h3,
.cm-header-3 {
    font-size: 2em;
    line-height: 1.43;
}
.cell.text_cell h4,
.cm-header-4 {
    font-size: 1.75em;
}
.cell.text_cell h5,
.cm-header-5 {
    font-size: 1.25em;
}
.cell.text_cell h6,
.cm-header-6 {
   font-size: 1.25em;
    color: #777;
}

.cell.text_cell p {
  font-size: 14px;
}


span.cm-header {
    font-family: menu, -apple-system, BlinkMacSystemFont, 'Open Sans';
    /*font-family: 'Open Sans' !important;*/
}


.running > .input > .prompt.input_prompt {
    /*background-color: lightgreen;*/
  /*width: 78px;*/
  /*min-width: 12px;*/
}

i.demo-icon.icon-spin3.animate-spin {
    margin-right: 0.2em;
    color: green;
    font-weight: 900;
    font-size: 14px;
}


/*=====================================================================================*/
/* PANDAS
/*=====================================================================================*/

div.text_cell {
  font-family: menu, -apple-system, BlinkMacSystemFont, 'Open Sans';
}

table.dataframe {
  /*font-family: 'Helvetica', sans-serif;*/
  /*font-family: 'SFNS Display', 'Helvetica';*/
  font-family: 'Office Code Pro D', monospace;
  margin-left: -0.4em;
  position: relative;
  /*z-index: -1;*/
}


/* ------ More Dataframe styling ---------*/
table.dataframe {
  color: #505050;
}
.rendered_html th, .rendered_html td {
  border: 1px solid #CCCCCC;
}
thead tr {
  background-color: #E6E6E6 !important;
}

tbody tr:nth-child(odd) th {
  background-color: #f1f1f1;
}
tbody tr:nth-child(even) th {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}
tr:nth-child(even) {
  background-color: #ffffff;
}

tr:hover {
  background-color: #EAF1F7;
}


/*.btn-default {
    background-color: #ECECEC;
}*/




/*=====================================================================================*/
/* FONTELLO
/*=====================================================================================*/

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?30229745');
  src: url('fonts/fontello.eot?30229745#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?30229745') format('woff'),
       url('fonts/fontello.ttf?30229745') format('truetype'),
       url('fonts/fontello.svg?30229745#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.svg?30229745#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-spin2:before { content: '\e805'; } /* '' */
.icon-spin3:before { content: '\e806'; } /* '' */
.icon-spin5:before { content: '\e807'; } /* '' */


.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
